<div {{bind-attr class="network :sidebar-container :dashboard"}}>
  {{profile-user-card user=user}}
  {{tweet-info user=user}}
  <div class="dashboard-filters">
    {{yield}}
    <h2 class="tag-list-title">Trends</h2>
    {{trending-topics}}
  </div>
</div>
