<div class="group-facebook facebook" style={{profile-banner group.cover}}>
  <div class="group-facebook-overlayer"></div>
  <div class="group-facebook-container">
    {{#link-to "group" "facebook" group.id}}
      <img class="group-facebook-network" alt="facebook" src="svg/facebook.svg">
      <p class="group-facebook-name">{{group.name}}</p>
      <p class="group-facebook-description">{{small-text group.description}}</p>
    {{/link-to}}
    <a {{bind-attr href=group.link}} class="profile-btn facebook" rel="external" target="_blank">on facebook</a>
    <img src={{group.icon}} class="group-facebook-icon">
  </div>
  {{yield}}
</div>