<div class="post">
  {{#link-to 'profiles' post.network post.from_id class="post-user-image-container"}}
    <img {{bind-attr src=post.user_image}} class="post-user-image">
  {{/link-to}}

  <div class="post-content">
    <div class="post-user">
      {{#link-to 'profiles' post.network post.from_id class="post-user-name"}}
        {{post.from}}
        <span class="post-user-twitter">{{post.from_nick}}</span>
      {{/link-to}}
      <a class="post-time-ago">- Implement time-ago -</a>
      {{#if post.to}}
        <a class="post-to" href="#">to {{post.to}}</a>
      {{/if}}
      <img class="post-network" src="svg/{{unbound post.network}}.svg" alt="">
    </div>
    {{#link-to "posts.post" post.network post.id class="post-text-container"}}
      <p class="post-text">{{post.message}}</p>
    {{/link-to}}
  </div>

  <div class="post-midia">
    {{#if post.image}}
      <img {{bind-attr src=post.image}} class="post-media-image">
    {{/if}}
  </div>
  <ul {{bind-attr class=":post-actions post.network"}}>
    <li class="post-actions-item">
      {{#if this.isFacebook}}
        <button {{action "like"}}>{{post.likes_count}} likes</button>
      {{/if}}
      {{#if isTwitter}}
        <div class="icon-retweet"></div>
        <p class="post-retweet-count">{{post.shares_count}}</p>
      {{/if}}
    </li>
    <li class="post-actions-item">
      {{#if isFacebook}}
        <button>{{post.shares_count}} shares</button>
      {{/if}}
      {{#if isTwitter}}
        <div {{bind-attr class=":icon-favorite post.user_likes"}}></div>
        <p class="post-favorite-count">{{post.likes_count}}</p>
      {{/if}}
    </li>
    <li class="post-actions-item">
      {{#link-to "posts.post" post.network post.id class="post-text-container"}}
        {{#if isFacebook}}
          comment
        {{/if}}
        {{#if isTwitter}}
          <div class="icon-reply"></div>
        {{/if}}
      {{/link-to}}
    </li>
  </ul>
  {{yield}}
</div>