<meta name="apple-mobile-web-app-status-bar-style" {{bind-attr content=currentColor}}>
<div {{bind-attr class="currentPage session.isAuthenticated:auth:no-auth currentNetwork :container"}}>
  <div {{bind-attr class=":site-container isDashboardEnabled:active"}}>
    {{header-connect network=currentNetwork session=session toggleSidebar="toggleSidebar"}}
    {{#if session.isAuthenticated}}
      {{#dashboard-connect user=session.user network=currentNetwork}}
        {{outlet "filters"}}
      {{/dashboard-connect}}
    {{/if}}
    <div class="site-main-container">
      <div class="black-mask"></div>
      {{#if session.isAuthenticated}}
        <div class="page-container">
          {{outlet}}
        </div>
      {{else}}
        {{outlet}}
      {{/if}}
    </div>
  </div>
</div>