<div class="page-container">
<div class="timeline">
  <form {{action "newPost" on="submit"}} class="post-form">
    {{textarea value=message placeholder="What's happening?" class="post-form-textarea"}}
    <div class="post-form-options-container">
      <div class="post-form-options">
        <button {{action "toggleNetworkState" "twitter"}} {{bind-attr class=":post-form-button twitter:active"}}>Twitter</button>
        <button {{action "toggleNetworkState" "facebook"}} {{bind-attr class=":post-form-button facebook:active"}}>Facebook</button>
      </div>
      <button class="post-form-submit">Submit</button>
    </div>
  </form>
	{{outlet}}
</div>
</div>