<form class="search" {{action "search" on="submit"}}>
  <label class="search-label" for="search">Type to search</label>
  {{input class="search-input" placeholder="Type to search" type="search" name="search" id="search" value=q autofocus="true"}}
  <div class="search-options-container">
    <div>
      <label>Twitter</label>
      {{input type="checkbox" name="isForTwitter" checked=isForTwitter}}
      <label>Mixed</label>
      {{input type="checkbox" name="mixed" checked=mixed}}
      <label>Recent</label>
      {{input type="checkbox" name="recent" checked=recent}}
      <label>Popular</label>
      {{input type="checkbox" name="popular" checked=popular}}
      <label>Users</label>
      {{input type="checkbox" name="twitterUsers" checked=twitterUsers}}
    </div>
    <div>
      <label>Facebook</label>
      {{input type="checkbox" name="isForFacebook" checked=isForFacebook}}
      <label>Users</label>
      {{input type="checkbox" name="facebookUser" checked=facebookUser}}
    </div>
    <button class="search-submit">Search</button>
  </div>
</form>
{{outlet}}